name: CMake Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_test:
    name: ${{ matrix.os }}-${{ github.workflow }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: windows-latest
            cmake_preset: msvc22
          - os: ubuntu-latest
            cmake_preset: ninja
          - os: macos-latest
            cmake_preset: xcode

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies on Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libtool autoconf automake lcov

      - name: Install dependencies on Mac
        if: matrix.os == 'macos-latest'
        run: |
          brew install lcov autoconf automake libtool

      - uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "~4.0.0"
          ninjaVersion: "^1.12.0"


      - name: Configure CMake
        run: |
          cmake --version
          cmake --preset ${{ matrix.cmake_preset }} ${{ matrix.extra_args }}

      - name: Build
        run: |
          cmake --build --preset ${{ matrix.cmake_preset }} --verbose

      - name: Test
        run: |
          ctest --preset ${{ matrix.cmake_preset }} --output-on-failure


  # coverage:
  #   uses: ./.github/workflows/build-coverage.yml


