name: CMake Build Coverage

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  job:
    name: ${{ matrix.os }}-${{ github.workflow }}-converage
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # os: [ubuntu-latest, macos-latest]
        os: [ubuntu-latest]
        include:
          - os: ubuntu-latest
            vcpkgCommitId: '5fa0f075ea51f305b627ecd5e050a363707353ff'
            cmake_preset: ninja
          # - os: macos-latest
          #   vcpkgCommitId: '5fa0f075ea51f305b627ecd5e050a363707353ff'
          #   cmake_preset: ninja

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies on Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build lcov

      - name: Install dependencies on Mac
        if: matrix.os == 'macos-latest'
        run: |
          brew install ninja
          brew install lcov


      - uses: lukka/get-cmake@latest
      - name: Dump the content of $RUNNER_TEMP
        run: find $RUNNER_TEMP
        shell: bash
      - name: Dump the content of $RUNNER_WORKSPACE
        run: find $RUNNER_WORKSPACE
        shell: bash

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@main
        id: runvcpkg
        with:
          # This specifies the location of vcpkg, where it is going to be restored from cache, or create from scratch.
          vcpkgDirectory: '${{ runner.workspace }}/b/vcpkg'
          # The Git commit id of vcpkg to be checked out. This is only needed because we are not using a submodule.
          vcpkgGitCommitId: '${{ matrix.vcpkgCommitId}}'
          # The vcpkg.json file, which will be part of cache key computation.
          vcpkgJsonGlob: 'vcpkg.json'

      - name: Prints output of run-vcpkg's action
        run: echo "root='${{ steps.runvcpkg.outputs.RUNVCPKG_VCPKG_ROOT_OUT }}', triplet='${{ steps.runvcpkg.outputs.RUNVCPKG_VCPKG_DEFAULT_TRIPLET_OUT }}'"

      - name: Configure CMake
        run: |
          cmake --preset ${{ matrix.cmake_preset }} -DCOVERAGE=ON

      - name: Build
        run: |
          cmake --build --preset ${{ matrix.cmake_preset }}

      - name: Test
        run: |
          cmake --build --preset ${{ matrix.cmake_preset }} --target test

      - name: Coverage
        run: |
          cmake --build --preset ${{ matrix.cmake_preset }} --target coverage

      - name: Archive code coverage results
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: build/ninja/coverage/